
<div class="row" style="margin-top: 20%;">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <div class="heading-section col-md-12 text-center">
        <h2>Créer un compte</h2>
      </div>
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" name="lname" value="{{lname}}" required>
        </div>
        <div class="form-group">
          <label for="name">Prénom</label>
          <input type="text" class="form-control" name="fname" value="{{fname}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirmation mot de passe</label>
          <input type="password" name="password2" class="form-control" value="{{password2}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
  </div>
</div>